{% extends "bootstrap/base.html" %}
{% block title %}President Watson{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="text-center">President Watson</h1>
  <p style="margin-left: 10%; margin-right: 10%">President Watson is a program that uses the IBM Watson API to compare the personality traits of two politicians. This program can be used to help citizens make informed decisions about voting by learning more about their politician's thinking patterns and temperament.</p>
</div>

<form class="content" name="Politicians" action="{{ url_for('results') }}" method="GET">
  <div class="content">
    <h2 class="text-center">Compare Politicians</h2>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3 class="text-center">First Politician</h3>
      <div class="content">
        <select class="center-block" name="Politician_1">
          {% for politician in politicians %}
          <option value={{politician}}>{{politicians[politician]}} (@{{politician}})</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="col-sm-6">
      <h3 class="text-center">Second Politician</h3>
      <div class="content">
        <select class="center-block" name="Politician_2">
          {% for politician in politicians %}
          <option value={{politician}}>{{politicians[politician]}} (@{{politician}})</option>
          {% endfor %}
        </select>
      </div>
    </div>

  </div>

  <div class="content-fluid">
    <button class="center-block" type="submit">Compare!</button>
  </div>

</form>
{% endblock %}
